/* EditCourse.css */

.container {
    max-width: 800px;
  }
  
  textarea {
    resize: none;
  }
  
  @media (max-width: 576px) {
    h2 {
      font-size: 1.5rem;
    }
  
    button {
      font-size: 1rem;
    }
  }
  